body {
  background-image: url("images/wallpaperflare.com_wallpaper.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.head-Container {
  display: flex;
  margin-left: 10%;
  margin-top: 1%;
}
#message{
  font-size: 30%;
  margin-left: 0.3rem;
  font-weight: 1000;
  color: white;
}

#head-start-btn {
  font-size: 0.2rem;
  font-weight: 700;
  color: white;
  background-color: rgb(229, 9, 20);
  height: 0.35rem;
  text-align: center;
  padding: 0.05rem 0.15rem 0.15rem 0.15rem;
  border-radius: 0.05rem;
  cursor: pointer;
  filter: drop-shadow(-10px -10px 10px grey);
}
#head-start-btn:hover {
  transform: scale(1.1);
}

.head-scores,
.head-scores p,
.head-scores span {
  font-size: 0.15rem;
  color: white;
  font-weight: 1000;
  margin-left: 0.1rem;
  letter-spacing: 0.01rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-top: 3%;
  margin-right: 10%;
  background-image: url("images/johny-goerend-Oz2ZQ2j8We8-unsplash.jpg");
  background-position: bottom right;
  opacity: 0.9;
  filter: drop-shadow(-15px -15px 20px grey);
  border-radius: 0.2rem;
}

#cards {
  height: auto;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  perspective: 1000px;
  height: 20vh;
  margin: 10px;
  width: 23%;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.06);
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  pointer-events: none;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  backface-visibility: hidden;
  pointer-events: none;
}

.card-front {
  background-image: url("https://images.unsplash.com/photo-1612933510543-5b442296703b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-15px -15px 20px black);
}

.card-back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}